# hipotesis saya adalah rumah yang domian terjual termasuk kategori rumah tua (di bawah tahun 1950)

# Import package

In [6]:
import pandas as pd 
import numpy as np 
import math
import statistics
import scipy.stats 
from scipy import stats

# Memuat dataset

In [7]:
df = pd.read_csv('nyc-rolling-sales.csv')
df.head(5)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

# Menampilkan semua nama atribut yang ada

In [8]:
df.columns.values

array(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'], dtype=object)

# Menghapus kolom 'Unnamed: 0'

In [9]:
df = df.drop(columns=['Unnamed: 0'])

# Melihat info keseluruhan dari semua atribut yang ada

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         84548 non-null  int64
 1   NEIGHBORHOOD                    84548 non-null  object
 2   BUILDING CLASS CATEGORY         84548 non-null  object
 3   TAX CLASS AT PRESENT            84548 non-null  object
 4   BLOCK                           84548 non-null  int64
 5   LOT                             84548 non-null  int64
 6   EASE-MENT                       84548 non-null  object
 7   BUILDING CLASS AT PRESENT       84548 non-null  object
 8   ADDRESS                         84548 non-null  object
 9   APARTMENT NUMBER                84548 non-null  object
 10  ZIP CODE                        84548 non-null  int64
 11  RESIDENTIAL UNITS               84548 non-null  int64
 12  COMMERCIAL UNITS                84548 non-null  int64
 13  TOTAL UNITS                     84548 non-null  int64
 14  LAND SQUARE FEET                84548 non-null  object
 15  GROSS SQUARE FEET               84548 non-null  object
 16  YEAR BUILT                      84548 non-null  int64
 17  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 19  SALE PRICE                      84548 non-null  object
 20  SALE DATE                       84548 non-null  object
dtypes: int64(9), object(12)
memory usage: 13.5+ MB

# Menjumlahkan seluruh data yang kosong atau null

In [11]:
df.isnull().sum()

BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
EASE-MENT                         0
BUILDING CLASS AT PRESENT         0
ADDRESS                           0
APARTMENT NUMBER                  0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
SALE DATE                         0
dtype: int64

# Mengambil data yang nilai 'Year Built' nya tidak sama dengan 0

In [12]:
df = df[df['YEAR BUILT'] != 0]
df.head(5)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

# Mengganti nilai ' -  ' dengan nilai nan dan mengubah 'sale price' menjadi numeric

In [13]:
df['SALE PRICE'] = df['SALE PRICE'].replace(' -  ', np.nan)
df['SALE PRICE'] = pd.to_numeric(df['SALE PRICE'], errors='coerce')

# Mengubah tipe data 'sale price' menjadi float

In [14]:
df['SALE PRICE'] = df['SALE PRICE'].astype(float)

# Mengubah tipe data 'sale date' menjadi datetime dengan format yyy-mm-dd

In [15]:
df['SALE DATE'] = pd.to_datetime(df['SALE DATE'], format='%Y-%m-%d')

# Mengubah nilai atribut 'land square feet' menjadi numeric

In [16]:
df['LAND SQUARE FEET'] = pd.to_numeric(df['LAND SQUARE FEET'], errors='coerce')

# Mengubah nilai atribut 'gross square feet' menjadi numeric

In [17]:
df['GROSS SQUARE FEET'] = pd.to_numeric(df['GROSS SQUARE FEET'], errors='coerce')

# Menampilkan kembali info tipe datanya, terlihat bahwa yang seharusnya bertipe angka sudah diubah menjadi float agar dapat dilakukan operasi

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77578 entries, 0 to 84547
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         77578 non-null  int64
 1   NEIGHBORHOOD                    77578 non-null  object
 2   BUILDING CLASS CATEGORY         77578 non-null  object
 3   TAX CLASS AT PRESENT            77578 non-null  object
 4   BLOCK                           77578 non-null  int64
 5   LOT                             77578 non-null  int64
 6   EASE-MENT                       77578 non-null  object
 7   BUILDING CLASS AT PRESENT       77578 non-null  object
 8   ADDRESS                         77578 non-null  object
 9   APARTMENT NUMBER                77578 non-null  object
 10  ZIP CODE                        77578 non-null  int64
 11  RESIDENTIAL UNITS               77578 non-null  int64
 12  COMMERCIAL UNITS                77578 non-null  int64
 13  TOTAL UNITS                     77578 non-null  int64
 14  LAND SQUARE FEET                54329 non-null  float64
 15  GROSS SQUARE FEET               54020 non-null  float64
 16  YEAR BUILT                      77578 non-null  int64
 17  TAX CLASS AT TIME OF SALE       77578 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  77578 non-null  object
 19  SALE PRICE                      64596 non-null  float64
 20  SALE DATE                       77578 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(9), object(8)
memory usage: 13.0+ MB

# Menentukan nilai mean berdasarkan 'sale price'

In [19]:
mean_value = df['SALE PRICE'].mean()
print('Mean : ', mean_value)

Mean :  1263461.9564059693

# Menentukan median berdasarkan 'year built'

In [20]:
median_value = df['YEAR BUILT'].median()
print("Median: ", median_value)

Median:  1945.0

# Menentukan nilai mean berdasarkan 'year built'

In [21]:
year_mean = df['YEAR BUILT'].mean()
print("Mean Year Built: ", year_mean)

Mean Year Built:  1950.0848049704814

# Menentukan nilai modus berdasarkan 'neighborhood'

In [48]:
mode_value = df['NEIGHBORHOOD'].mode()
print('Modus : ', mode_value)

Modus :  0    FLUSHING-NORTH
Name: NEIGHBORHOOD, dtype: object

# Menentukan nilai rentang berdasarkan 'sale price'

In [49]:
rentang = df['SALE PRICE'].max() - df['SALE PRICE'].min()
print('Rentang data harga jual : ', rentang)

Rentang data harga jual :  2210000000.0

# Menentukan nilai variasi berdasarkan 'sale price'

In [50]:
variasi = df['SALE PRICE'].var()
print('Variasi data harga jual : ', variasi)

Variasi data harga jual :  135966849605706.44

# Menentukan nilai standard deviasi berdasarkan 'sale price'

In [51]:
std_dev = df['SALE PRICE'].std()
print('Standard deviasi harga jual : ', std_dev)

Standard deviasi harga jual :  11660482.391638283

# Menentukan nilai distribusi probabilitas berdasarkan 'sale price'

In [52]:
distribusi_probabilitas = df['SALE PRICE'].value_counts(normalize=True)
print("Distribusi Probabilitas:")
print(distribusi_probabilitas)

Distribusi Probabilitas:
0.0          0.141603
10.0         0.010806
450000.0     0.006301
600000.0     0.006084
650000.0     0.006068
               ...
3253308.0    0.000015
2202500.0    0.000015
2565000.0    0.000015
1562500.0    0.000015
69300.0      0.000015
Name: SALE PRICE, Length: 9377, dtype: float64

# Menentukan nilai confidence intervals berdasarkan 'sale price'

In [53]:
sample_size = len(df['SALE PRICE'])
confidence_level = 0.95
confidence_interval = stats.t.interval(confidence_level, df=sample_size - 1, loc=mean_value, scale=std_dev / (sample_size ** 0.5))

# Menampilkan confidence interval
print("Confidence Interval:", confidence_interval)

Confidence Interval: (1181407.5147008668, 1345516.398111072)

# Berdasarkan hasil perhitungan di atas dapat dilihat bahwa harga rerata properti itu sebesar 1.263.461 pounds. nilai tengah tahun pembuatan properti adalah pada tahun 1945 dan secara keseluruhan rata rata properti banyak dibangun pada tahun 1950. Properti yang ada juga dijual dengan harga yang sangat beragam bahkan jarak antara harga termahal dengan termurah itu sebesar 2.210.000.000.